.container
  .row
    .col-md-9
      %h1.page-title= @stack.name
      %p= @stack.description
      %p Owner: #{current_user.username}

      .links-feed
        - @stack.links.each do |link|
          %div[link]
            %h3
              = link_to "#{link.url}", link.url, target: "blank"
            %p
              = link.description

            = link_to 'Delete', [@stack, link], method: :delete

    .col-md-3
      = render 'links/form'
